/* All of your CSS goes below */
html{
    height:100%;
}


body {
    min-height:100%;
    margin:0 0;
    padding:0 0;
    margin-bottom:0;
    }

header {
    height: 40%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
        background-image: url(Image/lake-trees-background.jpg);
        background-repeat: no-repeat;
        background-size: cover ;
        background-position: center;
        background-color: grey 
                  
}

main {
    margin: 0 0;
    height:100%;
    background-image: url(Image/abstract-antique-backdrop-164005.jpg);
    background-size: cover;
    border:none;
    
}

h1 {
    margin: 0 0;
    display: inline;
    text-align: center;
    vertical-align:middle;  
    font-size:50px; 
    font-family: 'Times New Roman', Times, serif;
    padding: 70px 0 ;
    text-transform: uppercase;

}

h2{
    /* about me text */
    vertical-align: middle;
    text-align: center;
    margin:0 0;
    color:white;
    border: solid;
    background: rgb(92, 182, 189);


}

article {
    text-align: center;
    margin: 0 0;
     /* background */
    
}

section{
    display:block;
    clear:left; 
    text-align:center;
    font-size: 1.2em;
    color:black;
    justify-content: center;
    font-weight: auto;
    background-color:white;

}

#containers{
    background-color: rgb(92, 182, 189);

}

.button {
    background-color: rgb(92, 182, 189);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}

.button:hover{
    background:grey;
    cursor:pointer;
    
}

.slider{
    display:inline-block;
    border-radius: 50%;
}   
img{
    border-radius:25%;
    

}